* {
	padding: 0;
	margin: 0;
}

body {
	background-color: white;
	margin: 0 0 0 10px;
	padding: 0;
	font-family: arial;
	font-size: 14px;
	color: black;
}

a:visited {
	color: blue;
}

div {
	border: solid red 0;
}

a {
	text-decoration: none;
}

p {
	margin: 20px 0;
}

a img {
	border: none;
}

a:hover {
	text-decoration: underline;
}

.head_table {
	background: #f3f3f3 url(/public/img/layout/bereg_cn/head_fon.jpg) repeat-x center top;
	width: 100%;
	margin-left: 0;
	height: 296px;
	min-width: 640px;
	vertical-align: top;
}

.shadow {
	background: url(/public/img/layout/bereg_cn/shadow.png) repeat-x;
	! background-image: none;
	height: 5px;
}

.shadow2 {
	background: url(/public/img/layout/bereg_cn/shadow2.png) repeat-x;
	! background-image: none;
	height: 9px;
}

.shadow4 {
	background: url(/public/img/layout/bereg_cn/shadow3.png) repeat-y left;
	! background-image: none;
}

.shadow3 {
	background: url(/public/img/layout/bereg_cn/corner.png) no-repeat left bottom;
	! background-image: none;
	padding-left: 5px;
}

table.main_content {
	width: 100%;
	height: 100%;
	background-color: #f3f3f3;
}

.stanok {
	! behavior: url(/public/css/layout/bereg_cn/hacks/ie/iepngfix.htc);
	background-image: url(/public/img/layout/bereg_cn/stanok.png);
	width: 367px;
	height: 214px;
	position: absolute;
	left: 257px;
	top: 77px;
	z-index: 1;
}

.top_menu {
	background: url(/public/img/layout/bereg_cn/top_menu_fon.png) repeat-x;
	height: 69px;
	position: relative;
	left: 0;
	top: 22px;
	z-index: 1;
}

.flag {
	! behavior: url(/public/css/layout/bereg_cn/hacks/ie/iepngfix.htc);
	width: 291px;
	height: 154px;
	top: 3px;
	! top: -14px;
	position: relative;
	z-index: 0;
}

.ert {
	margin: 0 0 0 237px;
	height: 69px;
	overflow: hidden;
	padding: 0;
	list-style-type: none;
}

.ert li, .ert ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	! display: inline;
}

div.link, a.link {
	width: 141px;
	background: url(/public/img/layout/bereg_cn/lineY.png) no-repeat 0 3px;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	padding-top: 24px;
	height: 45px;
	display: block;
	float: left;
	font-size: 14px;
	font-family: arial;
	font-weight: bold;
	color: #4d261b;
	! behavior: url(/public/css/layout/bereg_cn/hacks/ie/iepngfix.htc);
}

a.link:hover {
	background: url(/public/img/layout/bereg_cn/activeLink.png) 0 1px;
	position: relative;
}

ul.submenu {
	display: none;
	position: absolute;
	background-image: url(/public/img/layout/bereg_cn/submenu.png);
	left: 519px;
	top: 62px;
	min-width: 150px;
	padding: 15px 0 0 0;
}

ul.submenu a.sublink {
	! behavior: url(/public/css/layout/bereg_cn/hacks/ie/iepngfix.htc);
	background: url(/public/img/layout/bereg_cn/subline.png) no-repeat left top;
	text-decoration: none;
	height: 25px;
	padding: 10px 11px 0 13px;
	font-weight: bold;
	display: block;
	font-size: 12.5px;
	color: #4d261b;
}

ul.submenu a.sublink:hover {
	background-color: #a2a5bf;
}

.left_menu_sh {
	width: 251px;
	height: 311px;
	background-image: url(/public/img/layout/bereg_cn/menuLeft.png);
	! background-image: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}

.left_menu {
	background-image: url(/public/img/layout/bereg_cn/menuLeft.jpg);
	width: 243px;
	height: 307px;
	position: absolute;
	top: 0;
	left: 3px;
	z-index: 3;
}

.logo {
	! behavior: url(/public/css/layout/bereg_cn/hacks/ie/iepngfix.htc);
	background-image: url(/public/img/layout/bereg_cn/logo.png);
	width: 195px;
	height: 66px;
	position: absolute;
	left: 17px;
	top: 16px;
	z-index: 3;
}

.elt {
	width: 251px;
	top: 88px;
	position: relative;
}

a.link_left_sublevel, a.link_left {
	background: url(/public/img/layout/bereg_cn/lineX.png) no-repeat center top;
	width: 244px;
	height: 30px;
	padding-top: 12px;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #4d261b;
	font-size: 14px;
	font-family: arial;
	font-weight: bold;
	color: #4d261b;
}

a.link_left_sublevel {
	background-image: none;
}

a.link_left_sublevel:hover, a.link_left:hover {
	background-image: url(/public/img/layout/bereg_cn/linkrightActive.png);
}

.lang {
	margin-left: 262px;
	! margin-left: 130px;
	height: 45px;
	position: relative;
	z-index: 6;
	float: left;
}

div.lang a {
	text-align: left;
	vertical-align: middle;
	display: block;
	float: left;
	color: white;
}

div.lang span {
	padding-top: 16px;
	display: block;
	float: left;
}

.lang img {
	border: 0;
	margin: 14px 7px;
	float: left;
}

div.search {
	float: right;
	margin-right: 14px;
}

.glass {
	! behavior: url(/public/css/layout/bereg_cn/hacks/ie/iepngfix.htc);
	position: relative;
	margin-left: 15px;
	top: 8px;
}

input.search, input.login {
	! behavior: url(/public/css/layout/bereg_cn/hacks/ie/iepngfix.htc);
	width: 155px;
	padding-left: 13px;
	height: 18px;
	padding-top: 1px;
	color: #908e8e;
	font-style: italic;
	font-family: arial;
	font-size: 13px;
	background: transparent url(/public/img/layout/bereg_cn/search_text.png) no-repeat;
	border: none;
}

input.login {
	width: 188px;
	height: 18px;
	margin-top: 14px;
	padding-top: 4px;
	background-image: url(/public/img/layout/bereg_cn/login_text.png);
}

input.submit_login {
	margin: 0 52px;
}

div.login {
	margin-top: 39px;
	margin-left: 19px;
	width: 203px;
	margin-bottom: 53px;
}

a.blue_login, a.blue_reg {
	color: #2160fd;
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	margin-top: 11px;
	display: block;
}

a.blue_reg {
	margin-top: 4px;
}

div.news {
	width: 203px;
	margin-left: 19px;
	margin-bottom: 100px;
	font-family: Verdana;
	font-size: 12px;
}

div.title {
	margin-left: 12px;
	font-weight: bold;
}

div.text {
	text-align: justify;
}

a.links {
	text-decoration: none;
	color: #0149ff;
	margin-left: 85px;
	margin-bottom: 21px;
	display: block;
}

a.links:hover, a.blue_reg:hover, a.blue_login:hover {
	text-decoration: underline;
}

div.main_content, textarea.main_content {
	margin: 10px 24px 53px 49px;
	font-family: verdana;
	font-size: 11pt;
	text-align: justify;

}

div.main_content p.lined {
	border-left: solid 2px black;
	padding-left: 18px;
	margin-left: 15px;
}

div.main_content td {
	padding: 5px;
	text-indent: 10px;
}

div.main_content table {
	width: 100%;
}

H1, h2, h3 {
	margin: 0 0 33px 30px;
	font-size: 16.67pt;
	font-family: verdana;
	font-weight: normal;
}

h2 {
	font-size: 14.67pt;
	margin: 30px 0 10px 30px;
}

h2 a, h1 a {
	text-decoration: none;
}

h2 a:hover, h1 a:hover {
	text-decoration: underline;
}

h3 {
	margin: 0 0 5px 30px;
	font-size: 9.67pt;
	text-align: right;
}

td.foot {
	background-color: #dfdfe3;
	color: #504f4f;
	height: 22px;
	font-size: 9pt;
	font-style: italic;
	padding-right: 20px;
}

.tree, .tree-active, .subtree {
	font-weight: bold;
	text-decoration: none;
	list-style-type: upper-roman;
	padding: 0 0 0 20px;
	margin-bottom: 10px;
}

.subtree, .subtree-nd {
	padding-left: 10px;
	list-style-type: decimal;
}

ul.subtree-nd {
	display: none;
}

.subtree a, .subtree-nd a {
	color: gray;
}

a.tree-active {
	color: darkred;
	padding: 0;
}

.tree li, .tree-active li {
	font-weight: normal;
	padding: 0;
}

li.article {
	font-size: 8pt;
	list-style-type: circle;
	padding: 0;
	border-bottom: solid 1px black;
	margin: 0;
}

li.article a {
	color: black;
}

div.tree {
	font-size: 10pt;
	color: black;
}

a.order {
	float: right;
	border: ridge 3px black;
	padding: 4px;
	background-color: #b2b2b2;
}

div.pm_in, div.pm_out {
	width: 90%;
}

div.pm_in {
	background-color: #339900;
}

div.pm_out {
	background-color: #FF9933;
}

div.pm_trace {
	font-size: 8pt;
	color: #484848;
	border: solid 1px #996666;
}

div.pm_title {
	width: 60%;
}

div.pm_date {
	width: 38%;
	float: right;
	font-size: 60%;
	font-style: italic;
	text-align: right;
}

div.pm_text {
	clear: both;
	border: 1px solid #990000;
	font-size: 70%;
}

div.order_ask {
	font-size: 10pt;
	text-align: left;
	margin: 20px;
}

div.order_ask textarea {
	width: 90%;
}

table.register input {
	width: 400px;
}

div.service {
	display: none;
	margin-bottom: 20px;
}

span.highlight {
	background: #FFCC33;
}

table.equip {
	width: 100%;
}

td.t-auth, td.t-post {
	white-space: normal;
	text-align: left;
	padding: 4px;
	vertical-align: top;
	border: 1px solid #fcffff;
	border-right-color: #bec2ca;
	border-bottom-color: #9ea3ac;
}

td.t-auth {
	text-align: center;
	font-size: 70%;
	border-left: none;
}

td.t-post {
	width: 80%;
	border-right: none;
}

td.t-post div {
	margin: 5px 0 0 10px;
	font-size: 70%;
	color: grey;
}

td.t-post div.date {
	border-bottom: 1px solid silver;
	margin: 0pt 0pt 3px;
	padding: 0pt 0pt 2px;
}

.row1 {
	background: transparent;
}

.spacerow {
	background: #c0d0d6;
	height: 3px;
}

.row2 {
	background: transparent;
}

a.gensmall {
	color: #406d80;
	text-decoration: none;
	font-size: 10px;
}

a.gensmall:hover {
	text-decoration: underline;
	color: #dd6900;
}

span.postbody {
	font-size: 12px;
	line-height: 18px;
}

span.h1 {
	font-size: 120%;
}

