{% extends 'layouts/admin.html' %}
{% block title %}
	Админка
{% endblock title %}

{% block add_css %}
	<link rel="stylesheet" type="text/css" href="/public/css/application/admin/admin.css"/>
{% endblock add_css %}
{% block add_js %}
	<script src="/public/js/jquery/jquery.jstree.js"></script>
	<script src="/public/js/jquery/jquery.cookie.js"></script>
	<script src="/public/js/application/admin/admin.js"></script>
	<script src="/public/js/application/admin/index/init.js"></script>
{% endblock add_js %}

{% block menu %}
	всякая хрень
{% endblock menu %}

{% block body %}
	<h2>Дерево</h2>
	<div id="mmenu" style="height:30px; overflow:auto;">
<input type="button" id="add_folder" value="add folder" style="display:block; float:left;"/>
<input type="button" id="add_document" value="add file" style="display:block; float:left;"/>
<input type="button" id="rename" value="rename" style="display:block; float:left;"/>
<input type="button" id="remove" value="remove" style="display:block; float:left;"/>
<input type="button" id="cut" value="cut" style="display:block; float:left;"/>
<input type="button" id="copy" value="copy" style="display:block; float:left;"/>
<input type="button" id="paste" value="paste" style="display:block; float:left;"/>
<input type="button" id="clear_search" value="clear" style="display:block; float:right;"/>
<input type="button" id="search" value="search" style="display:block; float:right;"/>
<input type="text" id="text" value="" style="display:block; float:right;" />
</div>
	<div id="jstree">
	</div>
	<h2>доки</h2>
	{% for doc in docs %}
		<p>{{ doc.title }}</p>
		<p>{{ doc.key }}</p>
	{% endfor %}
	<h2>список папок</h2>
	{% for entry in feeds.entry %}
		<p>{{ entry.title.text }}</p>
		<p>{{ entry.get_document_type }}</p>
		<p>{{ entry.content.src }}</p>
		<p class="pad"><a href="/admin/{{ entry.resource_id.text }}">{{ entry.resource_id.text }}</a></p>
	{% endfor %}
	<h2>документ</h2>
	<h3>{{ title }}</h3>
	{{ body|safe }}
{% endblock body %}