{% extends 'layouts/admin.html' %}
{% block title %}
	Админка
{% endblock title %}

{% block add_css %}
	<link rel="stylesheet" type="text/css" href="/public/css/application/admin/admin.css"/>
{% endblock add_css %}
{% block add_js %}
	<script src="/public/js/application/admin/admin.js"></script>
{% endblock add_js %}

{% block menu %}
	всякая хрень
{% endblock menu %}

{% block body %}
	<a href="{{ url }}">Login|logout</a>
	{% for user in users %}
		<p><a href="/admin/edit/{{ user.key.id }}">{{ user.key.id }}:{{ user.username }} {{ user.first_name }}</a>
			{% for child in user.children %}
				{{ child.key.id }}:{{ child.username }} |
			{% endfor %}
		</p>
	{% endfor %}
{% endblock body %}