{% extends "layouts/bereg-cn.html" %}
{% block add_css %}
	<link rel="stylesheet" type="text/css" href="/public/css/application/default/index/catalogue.css"/>
{% endblock %}
{% block main_content %}
	<h1>{{ folder.title.text }}</h1>
	<table cellspacing="0" cellpadding="0" class="equip">
		<tbody>
		<tr class="row2">
			<td style="text-align:center;" class="t-auth">Картинка</td>
			<td style="text-align:center;" class="t-post">Категория</td>
		</tr>
		{% for entry in feeds.entry %}
			<tr>
				<td class="t-auth">
					<a href="/{{ entry.get_document_type }}/{{ entry.title.text }}">
						<img src="/public/img/catalogue/{{ entry.get_document_type }}.png"/>
					</a>
				</td>
				<td class="t-post"><a href="/{{ entry.get_document_type }}/{{ entry.title.text }}">{{ entry.title.text }}</a>

					<div>
						<p class="short_text">
							Краткая информация
						</p>
					</div>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}