{% extends "layouts/bereg-cn.html" %}
{% block title %}Контакты - ООО "Берег"{% endblock %}
{% block body_title %}
	<h1>Контакты</h1>
{% endblock %}
{% block body_text %}
	<!-- Body -->
	<p style="text-align: center;"><strong>Физический адрес</strong></p>
	<p style="text-align: center;">г.Ижевск, Восточная магистраль, д1. <br> Почтовый индекс 426068</p>
	<p style="text-align: center;"></p>
	<p style="text-align: center;"><strong>ДИРЕКТОР</strong></p>
	<p style="text-align: center;">Суздальцев Игорь Юрьевич<br>Тел. 8 (3412) 508-008<br>
		<span> E</span>
		-
		<span>mail</span>
		:
		<script language="JavaScript" type="text/javascript">
			<!--
			var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
			var path = 'hr' + 'ef' + '=';
			var addy57435 = 's&#105;y' + '&#64;';
			addy57435 = addy57435 + 'b&#101;r&#101;g-cn' + '&#46;' + 'r&#117;';
			document.write('<a ' + path + '\'' + prefix + ':' + addy57435 + '\'>');
			document.write(addy57435);
			document.write('<\/a>');
			// --> \n </script>
		<script language="JavaScript" type="text/javascript">
			<!--
			document.write('<span style=\'display: none;\'>');
			// -->
		</script><span style="display: none;">Этот e-mail адрес защищен от спам-ботов, для его просмотра у Вас должен быть включен Javascript
 <script language="JavaScript" type="text/javascript">
	 <!--
	 document.write('</');
	 document.write('span>');
	 // -->
 </script></span>
	</p>
	<p style="text-align: center;"><strong>ЗАМЕСТИТЕЛЬ ДИРЕКТОРА</strong></p>
	<p style="text-align: center;">Печеникин Владимир Тимофеевич<br>Тел. 8 (3412) 21-78-05<br>
		E-mail:
		<script language="JavaScript" type="text/javascript">
			<!--
			var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
			var path = 'hr' + 'ef' + '=';
			var addy58248 = 'pvt' + '&#64;';
			addy58248 = addy58248 + 'b&#101;r&#101;g-cn' + '&#46;' + 'r&#117;';
			document.write('<a ' + path + '\'' + prefix + ':' + addy58248 + '\'>');
			document.write(addy58248);
			document.write('<\/a>');
			//-->\n </script>
		<script language="JavaScript" type="text/javascript">
			<!--
			document.write('<span style=\'display: none;\'>');
			//-->
		</script><span style="display: none;">Этот e-mail адрес защищен от спам-ботов, для его просмотра у Вас должен быть включен Javascript
 <script language="JavaScript" type="text/javascript">
	 <!--
	 document.write('</');
	 document.write('span>');
	 //-->
 </script></span>
	</p>
{% endblock %}