{% extends "layouts/bereg-cn.html" %}
{% block add_css %}
	<link rel="stylesheet" type="text/css" href="/public/css/application/default/index/index.css"/>
{% endblock %}
{% block main_content %}
	<h1>Главная</h1>
	<p>
	<p>Сочетание понятий &laquo;Китай&raquo; и &laquo;качество&raquo;
		для российского потребителя звучит несколько непривычно. Поэтому &laquo;бизнес&raquo; и &laquo;Китай&raquo;
		воспринимаются еще более скептически.
	<p>Напрасно! Китай - страна широких возможностей для российских бизнесменов.
		Здесь производят качественное оборудование по выгодным ценам, работают понятные и эффективные схемы бизнеса.
		Компания &laquo;Берег&raquo;
		откроет для Вас все выгоды сотрудничества со Страной Дракона.
	</p>
	</p>


	<div><p>Мы занимаемся укреплением бизнес&ndash;связей между Россией и Китаем с 2002 года. Накопленный опыт, широкая
		база постоянных клиентов и поставщиков позволяют гарантировать качество наших услуг. В сферу деятельности
		ООО &laquo;Берег&raquo; входят:</p>
		<ul>
			<li>поставка надежного оборудования из Китая</li>
			<li>обеспечение российских предприятий специализированным оборудованием для переработки пластмасс, обработки
				металла и переработки отходов
			</li>
			<li>поиск и доставка оборудования под заказ (индивидуальный подход к каждому заказчику!)</li>
			<li>консультации по оборудованию, сбор информации о китайских производителях, услуги переводчика и ведение
				переговоров с фирмами.
			</li>
		</ul>
	</div>
	<p>Обратите внимание - мы готовы обеспечить Вас и <a href="http://www.bereg-cn.ru/equipment.php">оборудованием</a>, и
		<a href="http://www.bereg-cn.ru/index.php?act=study">информацией</a>! Наши специалисты разбираются в таких сложных,
		типах оборудования, как:
		<a href="http://www.bereg-cn.ru/equipment.php?cat=Metalloobrabotka_o&amp;subcat=Termoplastavtomaty">термопластавтоматы</a>,
		<a href="http://www.bereg-cn.ru/projects.php?cat=Pererabotka_othodov&amp;subcat=Proizvodstvo_toplivnyh_briketovrerabotka_othodov">линии
			для производства топливных брикетов</a>,
		<a href="http://www.bereg-cn.ru/projects.php?cat=Proizvodstvo_stroitelnyh_materialov&amp;subcat=Proizvodstvo_listov_SML">линии
			для производства стекломагниевого листа</a> (СМЛ). Поэтому Вы получите массу полезных советов по вопросу выбора и
		эксплуатации китайского оборудования на российских предприятиях.
	</p>
	<p>Если Вы не нашли в списке того, что хотели бы
		приобрести, мы готовы принять у Вас индивидуальный заказ. Просто сообщите нам тип желаемого оборудования, его
		характеристики и ориентировочную стоимость. Сотрудники компании &laquo;Берег&raquo; сэкономят Ваши деньги и время,
		которые Вам пришлось бы затратить на поиск китайских поставщиков.
	</p>
	<p>Главный офис нашей компании находится в
		Ижевске. В штате ООО Берег есть люди знающие китайский язык. Мы специально направляли выпускников школ для обучения
		в Китай.. Они &ndash; русские, сразу после школы поступившие в один из университетов Китая. Несколько лет обучения
		дали свои результаты: идеальное знание китайского языка, глубокое знакомство с культурой, бизнесом и производством
		этой страны. Плюс постоянный контакт с фирмами, производящими качественную продукцию.
	</p>
	<p>
		Поэтому Вы можете быть
		уверены &ndash; специалисты ООО &laquo;Берег&raquo; подберут надежное оборудование для Вашего производства по самой
		выгодной цене. Кроме того, мы готовы помочь Вам принять участие в различных тематических выставках, посетить Китай
		для поиска партнеров и вывести Ваш бизнес на международный уровень.
		Вместе с компанией &laquo;Берег&raquo; Вы
		расширите берега для реки Вашего бизнеса.
	</p>
{% endblock %}