{% extends "layouts/bereg-cn.html" %}
{% block title %}Контакты - ООО "Берег"{% endblock %}
{% block body_title %}
	<h1>Учеба</h1>
{% endblock %}
{% block body_text %}
	<!-- Body -->
	<p style="text-align:left; margin-left:20px;"><strong>Хэйлунцзянский университет</strong></p>
	<p><img src="/public/img/study/university.jpg" alt="Хэйлунцзянский университет"></p>
	<p>Вуз был основан в <strong>1941 </strong>году в городе Яньань на базе отделения русского языка в университете,
		созданном Мао Цзэдуном для обучения военных кадров в соответствии с нуждами антияпонской борьбы. В 1946 году вуз был
		перенесен в Харбин, где стал специализированным учреждением иностранных языков. С 1958 года переименован в
		Хэйлунцзянский университет – первый в провинции вуз с комплексным преподаванием наук. В последующие годы вплоть до
		2004 года вуз объединялся с другими институтами и высшими школами с целью расширения круга специальностей. Сегодня
		Хэйлунцзянский университет с гордостью представляет 74 специальности бакалавриата – как гуманитарные, так и
		технические.</p>
	<p>Имеются магистратура по 109 специальностям и докторантура по 14 дисциплинам. Здесь готовят инженеров, бухгалтеров,
		переводчиков, менеджеров, ИТ-специалистов, кадровых работников и др. Вуз занимает территорию 1,92 млн кв.метров,
		расположен в живописном зеленом районе Харбина. На базе вуза имеются мультимедийные аудитории, лаборатории,
		библиотеки и спортивные залы, бассейн, просторные общежития со спутниковым телевидением, транслируются также и
		российские телепрограммы. В последние годы вуз активно совершенствует оборудование для научных исследований,
		улучшает оснащение лабораторий и условия учебного процесса. Преподавательский состав вуза насчитывает 1890
		сотрудников, многие из них в разное время были удостоены премии «Лучший преподаватель вуза», становились
		победителями всекитайского конкурса «Выдающийся преподаватель», участвовали в проекте «Тысячи талантов нового века»,
		в плановом проекте Министерства просвещения КНР по поддержке выдающихся талантов нового столетия и других.</p>
	<p>В Хэйлунцзянском университете расположен Центр русского языка, один из трех центров, организованных правительством
		РФ на территории Китая. Команда преподавателей университета создала «Большой русско-китайский подробный словарь»,
		который получил первую премию третьего конкурса «Китайские словари», государственную библиотечную премию. Эта книга
		была преподнесена в качестве подарка Президенту РФ В.В.Путину во время его визита в Китай.</p>
{% endblock %}