<li class="link"><a href="/services" class="link">Услуги</a>
</li>
<li class="link"><a href="/Товары" class="link">Товары</a>
	<ul class="submenu">
		<li><a class="sublink" href="/Обработка металла">Обработка металла</a></li>
	</ul>
</li>
<li class="link"><a href="/Оборудование" class="link">Оборудование</a>
	<ul class="submenu">
		<li><a class="sublink" href="/Обработка металла">Обработка металла</a></li>
		<li><a class="sublink" href="/Переработка пластмасс">Переработка пластмасс</a></li>
	</ul>
</li>
<li class="link"><a href="/Проекты" class="link">Проекты</a>
	<ul class="submenu">
		<li><a class="sublink" href="/Переработка пластмасс">Переработка пластмасс</a></li>
		<li><a class="sublink" href="/Переработка отходов">Переработка отходов</a></li>
		<li><a class="sublink" href="/Производство строительных материалов">Производство строительных материалов</a></li>
		<li><a class="sublink" href="/Производство одежды">Производство одежды</a></li>
	</ul>
</li>
<li class="link"><a href="/study" class="link">Учеба</a>
</li>