<li class="link"><a href="/services" class="link">Услуги</a>
</li>
<li class="link"><a href="/c/Товары" class="link">Товары</a>
	<ul class="submenu">
		<li><a class="sublink" href="/c/Обработка металла">Обработка металла</a></li>
	</ul>
</li>
<li class="link"><a href="/c/Оборудование" class="link">Оборудование</a>
	<ul class="submenu">
		<li><a class="sublink" href="/c/Обработка металла">Обработка металла</a></li>
		<li><a class="sublink" href="/c/Переработка пластмасс">Переработка пластмасс</a></li>
	</ul>
</li>
<li class="link"><a href="/c/Проекты" class="link">Проекты</a>
	<ul class="submenu">
		<li><a class="sublink" href="/c/Переработка пластмасс">Переработка пластмасс</a></li>
		<li><a class="sublink" href="/c/Переработка отходов">Переработка отходов</a></li>
		<li><a class="sublink" href="/c/Производство строителных материалов">Производство строителных материалов</a></li>
		<li><a class="sublink" href="/c/Производство одежды">Производство одежды</a></li>
	</ul>
</li>
<li class="link"><a href="/study" class="link">Учеба</a>
</li>