{% extends "layouts/bereg-cn.html" %}
{% block add_css %}
	<link rel="stylesheet" type="text/css" href="/public/css/application/default/service/service.css"/>
{% endblock %}
{% block add_js %}
	<script type="text/javascript" src="/public/js/application/default/service/service_slider.js"></script>
	<script type="text/javascript" src="/public/js/application/default/service/init.js"></script>
{% endblock %}
{% block main_content %}
	<!-- Body -->
	<h1>Услуги</h1>
	<h3 class="service">ООО «БЕРЕГ» предоставляет для российских и китайских предпринимателей следующие виды услуг:</h3>
	<ul class="service">
		<li>
			<a href="#slider" class="service_slider"> поиск и поставка товаров из Китая</a>

			<p class="service">Поиск необходимых товаров в Китае – предоставление информации о товарах - фото товаров
				имеющитхся
				в базе, цены - бесплатно. В случае, если необходимых клиенту товаров в базе нет – согласовывается перечень
				необходимых работ – поездка на предпирятие, подготовка и высылка образцов, в течение 2-5 дней определяется
				стоимость
				данных работ и согласовывается с клиентом. В дальнейшем по отдельному контракту осуществляется поставка
				необходимых
				клиенту товаров.
			</p>
		</li>
		<li>
			<a href="#slider" class="service_slider"> поиск оборудования в Китае </a>

			<p class="service">По запросу клиента предоставляется информация (бесплатно, если данная информация имеется в
				базе)
				о необходимом ему оборудовании – фото оборудования, основные технические характеристики, стоимость оборудования
				(франко-завод). В случае, если необходимого клиенту оборудования в базе нет – согласовывается перечень
				необходимых
				работ – поездка на предприятие, высылка каталогов фото и видео материалов, в течение 2-5 дней определяется
				стоимость
				данных работ и согласовывается с клиентом. В дальнейшем по отдельному контракту осуществляется поставка
				необходимого
				клиенту оборудования.
			</p>
		</li>
		<li>
			<a href="#slider" class="service_slider"> подготовка контрактов на поставку товаров и оборудования на русском и
				китайском языках </a>

			<p class="service">Осуществляется подготовка контрактов на поставку необходимых заказчику товаров и оборудования
				на
				русском и китайском языках. Стоимость услуги – от 2 до 5% от стоимости контракта, но не менее 500 $.
			</p>
		</li>
		<li>
			<a href="#slider" class="service_slider"> сопровождение контракта, прием груза в Ижевске, растомаживание
				грузов </a>

			<p class="service">Кроме подготовки контракта мы готовы осуществлять сопровождение груза, его прием,
				растомаживание
				в Ижевске. При необходимости можем осуществлять доставку растоможенного груза клиенту по отдельному договору.
				Стоимость услуги – согласовывается отдельно.
			</p>
		</li>
		<li>
			<a href="#slider" class="service_slider"> размещение информации на русских и китайских поисковых сайтах </a>

			<p class="service">Данная услуга предполагает размещение информации российских предприятий на китайских поисковых
				сайтах на китайском языке и китайских предпринимателей на русском языке на русских поисковых сайтах. Информация
				размещается на сайтах соответствующих профилю производства заказчика. Стоимость услуги – 100 $ - за размещение
				информации на 2-5 поисковых сайтах объемом информации – до 300 знаков на русском языке и до 60 знаков на
				китайском
				языке.
			</p>
		</li>
		<li>
			<a href="#slider" class="service_slider"> перевод китайских сайтов на русский язык </a>

			<p class="service">Для китайских предпринимателей предлагается оформить их сайты (полностью или частично) на
				русском
				языке, что позволит получить им доступ к российским Интернет ресурсам – информация о вашем предприятии станет
				доступна всем российским пользователям Интернета. Стоимость услуги – от 300 $. Конкретная стоимость будет
				оговорена
				при согласовании объема конкретных работ.
			</p>
		</li>
		<li>
			<a href="#slider" class="service_slider"> перевод китайских каталогов на русский язык </a>

			<p class="service">Предлагается готовить для китайских предпринимателей каталоги выпускаемой ими продукции на
				русском языке. Стоимость услуги зависит от объема каталога, наличия готового макета.
			</p>
		</li>
		<li>
			<a href="#slider" class="service_slider"> подготовка рекламных материалов (листовок, буклетов) на русском
				языке </a>

			<p class="service">Для китайских предприятий предлагается подготавливать рекламные материалы (листовки, буклеты)
				на
				русском языке. Стоимость оформления двухсторонней рекламной листовки формата A4 – 200 $.
			</p>
		</li>
		<li>
			<a href="#slider" class="service_slider"> организация участия китайских предприятий в российских тематических
				выставках </a>

			<p class="service">Даная услуга предполагает организацию участия китайских предприятий (очное или заочное) в
				тематических российских региональных и международных выставках. Мы оказывает содействие китайским
				предпринимателям
				в
				расширении их продаж в России, представлении на тематических выставках их товаров и оборудования. Сбор
				информации,
				ее последующая обработка. Стоимость услуги оговаривается по каждой выставке отдельно.
			</p>
		</li>
		<li>
			<a href="#slider" class="service_slider"> посещение выставок в Китае </a>

			<p class="service">По запросу российских клиентов мы можем обеспечить посещение тематических выставок в Китае, с
				предоставлением квалифицированного переводчика. Также возможно сбор необходимой для клиентов информации по
				определенной тематике – оборудованию, товарам на определенных выставок с получением этой информации в России.
				Стоимость услуги оговаривается по каждому конкретному случаю.
			</p>
		</li>
		<li><a href="#slider" class="service"> переводы с китайского на русский язык </a></li>
		<li><a href="#slider" class="service"> переводы с русского на китайский язык </a></li>
	</ul>
	<h3 class="attention">Уважаемые господа!</h3>
	<p class="attention">Если среди предлагаемых услуг вы не нашли услуги, которая требуется Вам – просьба сообщите, чего
		вы бы хотели. Мы обязательно постараемся Вам помочь!
	</p>
{% endblock %}